@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}
/* header section start here */
/* navber start here */
.navber{
    background-color: cadetblue;
    height: 10vh;
    padding: 2.5rem 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    border: 3px solid rgba(100, 98, 98, 0.922);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.nav__itms ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.nav__itms ul li{
    color: bisque;
    padding: 0.6rem 1rem;
    /* background-color: rgb(44, 97, 99); */
}
.nav__itms ul li:hover{
    background-color: rgb(59, 124, 126);
    border-radius: 5px;
    transition: all 1.5s;
    cursor: pointer;
}
.nav__itms ul li a{
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* navber end here */
/* header section end here */

/* responsive start here */
@media (max-width: 768px){
    .navber{
        padding: 2.5rem 3rem;
    }
    .nav__itms ul:last-child{
        padding-right: 0;
    }
}
@media (max-width: 425px) {
    .navber{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .nav__itms ul{
        display: flex;
        flex-direction: column;
    }
}
